#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  background-color: #f2fcfe;
  padding: auto;
}

.userList{
  display: grid;
  grid-gap: 2em;
  grid-auto-rows: 12rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  color: rgb(3, 3, 22);
  
}

.usersFrom {
  font-family: 'Roboto', sans-serif;
    background-color: #b7dff3;
    margin: 3em;
    border-radius: 10px;
    padding: 1px;
}

.user {
  background-color: rgba(244, 244, 248, 0.664);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

ul {
  list-style: none;
}

.ulLi {
  display: flex;
  justify-content: center;
    flex-wrap: wrap;
}


